[package]
name = "scheme-compiler"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hashlink = "0.8"
tinyvec = { version = "1.6", features = ["alloc"] }
num = "0.4"
indexmap = "1.7"